<!DOCTYPE html>
<html ng-app="BindingApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>2-way, 1-way, 1-time binding</title>
  </head>
  <body >
    <h2>Digest loop</h2>
    <div ng-controller="BindingController">
      <button ng-click="showNumberOfWatchers()">Log # of Waters</button> <br>
      <button ng-click="setFullName()"> Set Full Name</button><br>

      Full Name is : {{ :: fullName }} <br>
      <button ng-click="logFirstName()"> Log First Name</button><br>
      <button ng-click="logFullName()"> Log Full Name</button><br>
    <div>
      <input type="text" ng-model="firstName" >
    </div>
  </div>
  </body>
</html>
